<div class="form-group" ng-class="{'has-error' : submitted && cardForm.title.$invalid}">
    <label class="control-label col-md-3">Title <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="title" class="form-control" ng-model="card.title" required placeholder="Title"/>
    </div>
    <p ng-show=" submitted && cardForm.title.$invalid" class="help-block">Title is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && cardForm.description.$invalid}">
    <label class="control-label col-md-3">Description <span class="required">* </span> </label>
    <div class="col-md-4">
        <textarea name="description" class="form-control" ng-model="card.description" required placeholder="Description"></textarea>
    </div>
    <p ng-show=" submitted && cardForm.description.$invalid" class="help-block">Description is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && cardForm.assignee_id.$invalid}">
    <label class="control-label col-md-3">Assignee <span class="required">* </span> </label>
    <div class="col-md-4">
        <select name="assignee_id" ng-model="card.assignee_id">
          <option value="">Select Assignee</option>
          <option ng-repeat="user in users" value="{{user.id}}">{{user.email}}</option>
        </select>
    </div>
    <p ng-show=" submitted && cardForm.assignee_id.$invalid" class="help-block">Assignee is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && cardForm.status_id.$invalid}">
    <label class="control-label col-md-3">Status <span class="required">* </span> </label>
    <div class="col-md-4">
        <select name="status_id" ng-model="card.status_id">
          <option value="">Select Status</option>
          <option ng-repeat="status in statuses" value="{{status.id}}">{{status.name}}</option>
        </select>
    </div>
    <p ng-show=" submitted && cardForm.status_id.$invalid" class="help-block">Status is required.</p>
</div>

<div class="form-group" ng-class="{'has-error' : submitted && cardForm.priority_id.$invalid}">
    <label class="control-label col-md-3">Priority <span class="required">* </span> </label>
    <div class="col-md-4">
        <select name="priority_id" ng-model="card.priority_id">
          <option value="">Select Priority</option>
          <option ng-repeat="priority in priorities" value="{{priority.id}}">{{priority.name}}</option>
        </select>
    </div>
    <p ng-show=" submitted && cardForm.priority_id.$invalid" class="help-block">Priority is required.</p>
</div>



<div class="form-group">
    <div class="pull-left">
        <a class="btn btn-default" href="#!/cards"> Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>

