<br/>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="#!/cards/new">Create a card</a>
        <h3 class="block">Cards</h3>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th></th>
            </tr>
            <tr ng-hide="cards.length" >
                <td colspan="5">No cards found, Please create one.</td>
            </tr>
            <tr ng-show="cards.length" ng-repeat="card in cards">
                <td>{{card.title}}</td>
                <td>{{card.description}}</td>
                <td>{{card.status_id}}</td>
                <td>{{card.priority_id}}</td>
                <td>
                    <a href="#!/cards/{{card.id}}/edit">Edit</a> | <a href="" ng-click="deleteCard(card.id)">Remove</a>
                </td>
            </tr>
        </table>
    </div>
</div>
